/* Define the animation */
@-webkit-keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
body {
  line-height: 1.5;
  background-size: auto;
}
body #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #nav #logo {
  display: flex;
  align-items: center;
}
body #nav #logo #heart {
  height: 40px;
  width: auto;
}
@media (max-width: 720px) {
  body #nav #logo #heart {
    height: 30px;
  }
}
@media (max-width: 370px) {
  body #nav #logo #heart {
    height: 25px;
  }
}
body #nav #logo a {
  font-size: 32px;
  line-height: 1.5;
  color: #ff6c2c;
}
body #nav #logo a:hover {
  color: #00AAFF;
  background-color: transparent;
}
@media (max-width: 720px) {
  body #nav #logo a {
    font-size: 26px;
  }
}
@media (max-width: 370px) {
  body #nav #logo a {
    font-size: 22px;
  }
}
body #nav #user-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body #nav #user-menu img {
  height: 50px;
  width: auto;
}
@media (max-width: 720px) {
  body #nav #user-menu img {
    height: 35px;
  }
}
@media (max-width: 370px) {
  body #nav #user-menu img {
    height: 28px;
  }
}
body #nav #user-menu #dropdown {
  overflow: hidden;
  flex: none;
  background-color: #ffffff;
}
body #nav #user-menu #dropdown::after {
  color: #ff6c2c;
}
body #nav #user-menu #dropdown:hover {
  background-color: #ff6c2c;
}
body #nav #user-menu #dropdown:hover::after {
  color: #ffffff;
}
body #nav #user-menu ul {
  left: auto;
  right: 0;
}
@media (max-width: 720px) {
  body #nav #user-menu ul {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  body #nav #user-menu ul {
    font-size: 12px;
  }
}
@media (max-width: 370px) {
  body #nav #user-menu ul {
    font-size: 10px;
  }
}
body #nav .login-hold {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body #meal-log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 910px) {
  body #meal-log {
    overflow-x: scroll;
  }
}
body #meal-log .titles {
  background-color: #ff6c2c;
  color: #fff;
  text-align: center;
  font-size: 16;
}
@media (max-width: 720px) {
  body #meal-log .titles {
    font-size: 14px;
  }
}
@media (max-width: 610px) {
  body #meal-log .titles {
    padding-left: 0.4rem;
  }
}
@media (max-width: 480px) {
  body #meal-log .titles {
    font-size: 12px;
    padding-left: 0.2rem;
  }
}
@media (max-width: 370px) {
  body #meal-log .titles {
    font-size: 10px;
  }
}
body #meal-log #total {
  color: #ffffff;
}
body #meal-log input[type=date i], body #meal-log #total, body #meal-log #add {
  border-radius: 5px;
  border: none;
}
@media (max-width: 720px) {
  body #meal-log input[type=date i], body #meal-log #total, body #meal-log #add {
    font-size: 14px;
  }
}
@media (max-width: 610px) {
  body #meal-log input[type=date i], body #meal-log #total, body #meal-log #add {
    align-self: flex-start;
  }
}
@media (max-width: 480px) {
  body #meal-log input[type=date i], body #meal-log #total, body #meal-log #add {
    font-size: 12px;
  }
}
@media (max-width: 370px) {
  body #meal-log input[type=date i], body #meal-log #total, body #meal-log #add {
    font-size: 10px;
  }
}
body #meal-log #list-titles {
  color: #00AAFF;
}
body #meal-log #list-titles, body #meal-log #list {
  align-self: flex-start;
  min-width: 894px;
}
@media (max-width: 720px) {
  body #meal-log #list-titles, body #meal-log #list {
    min-width: 780px;
  }
}
@media (max-width: 480px) {
  body #meal-log #list-titles, body #meal-log #list {
    min-width: 700px;
  }
}
@media (max-width: 370px) {
  body #meal-log #list-titles, body #meal-log #list {
    min-width: 600px;
  }
}
body #meal-log #list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  background-color: #ffffff;
}
@media (max-width: 720px) {
  body #meal-log #list .list-group-item {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  body #meal-log #list .list-group-item {
    font-size: 12px;
  }
}
@media (max-width: 370px) {
  body #meal-log #list .list-group-item {
    font-size: 10px;
  }
}
body #meal-log #list .btn-danger, body #meal-log #list .btn-warning {
  width: 12.5%;
}
body #meal-log #list .btn-danger:hover, body #meal-log #list .btn-warning:hover {
  color: #ff6c2c;
}
body #meal-log #list .edit-box {
  display: flex;
  flex-wrap: nowrap;
}
body #meal-log #list .edit-box .list-group-item input {
  border: none;
}
body #meal-log #list .edit-box #new-edit, body #meal-log #list .edit-box #save-btn {
  margin: auto;
  text-align: center;
  width: 12.5%;
}
@media (max-width: 720px) {
  body #meal-log #list .edit-box #new-edit, body #meal-log #list .edit-box #save-btn {
    font-size: 14px;
  }
}
@media (max-width: 520px) {
  body #meal-log #list .edit-box #new-edit, body #meal-log #list .edit-box #save-btn {
    font-size: 12px;
    padding-left: 0.5rem;
  }
}
@media (max-width: 370px) {
  body #meal-log #list .edit-box #new-edit, body #meal-log #list .edit-box #save-btn {
    font-size: 10px;
    padding-left: 0.25rem;
  }
}
body #meal-log #list .edit-box #save-btn:hover {
  color: #ff6c2c;
}
body #meal-log #save-btn, body #meal-log .btn-danger, body #meal-log .btn-warning {
  color: #00AAFF;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 720px) {
  body #meal-log #save-btn, body #meal-log .btn-danger, body #meal-log .btn-warning {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  body #meal-log #save-btn, body #meal-log .btn-danger, body #meal-log .btn-warning {
    font-size: 12px;
    padding-left: 0.5rem;
  }
}
@media (max-width: 370px) {
  body #meal-log #save-btn, body #meal-log .btn-danger, body #meal-log .btn-warning {
    font-size: 10px;
    padding-left: 0.25rem;
  }
}
body .btn-secondary {
  border: none;
  background-color: #00AAFF;
  color: #ffffff;
  border-radius: 8px;
}
body .btn-secondary:hover {
  background-color: #ffffff;
  color: #00AAFF;
  border-color: #00AAFF;
  border-style: solid;
  border: 1px;
}
@media (max-width: 720px) {
  body .btn-secondary {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  body .btn-secondary {
    font-size: 12px;
  }
}
@media (max-width: 370px) {
  body .btn-secondary {
    font-size: 10px;
  }
}
body h2, body th, body td, body b, body p, body #pw, body h4 {
  color: #00AAFF;
}
@media (max-width: 720px) {
  body th, body td, body b, body #total, body .sign-up, body #pw {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  body th, body td, body b, body #total, body .sign-up, body #pw {
    font-size: 12px;
  }
}
@media (max-width: 370px) {
  body th, body td, body b, body #total, body .sign-up, body #pw {
    font-size: 10px;
  }
}
body .add-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
body .add-form .input-hold {
  position: relative;
  display: flex;
  justify-content: center;
}
body .add-form .input-hold input {
  padding: 0.5rem;
  border-color: #6d757d;
  border-style: solid;
  border-radius: 0.5rem;
  text-align: left;
  cursor: text;
}
@media (max-width: 720px) {
  body .add-form .input-hold input {
    padding: 0.45rem;
  }
}
@media (max-width: 480px) {
  body .add-form .input-hold input {
    padding: 0.35rem;
  }
}
@media (max-width: 370px) {
  body .add-form .input-hold input {
    padding: 0.25rem;
  }
}
body .add-form .input-hold input:hover {
  border-color: #ff6c2c;
  cursor: text;
}
body .add-form .input-hold ._label {
  position: absolute;
  color: #ff6c2c;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0 0.25rem;
  left: 1rem;
  top: 0.7rem;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}
@media (max-width: 720px) {
  body .add-form .input-hold ._label {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  body .add-form .input-hold ._label {
    font-size: 12px;
  }
}
@media (max-width: 370px) {
  body .add-form .input-hold ._label {
    font-size: 10px;
  }
}
body .add-form .input-hold .input_:not(:-moz-placeholder-shown).input_:not(:focus) ~ ._label {
  top: -0.6rem;
  font-size: 0.8rem;
  left: 0.6rem;
  background-color: #ffffff;
}
body .add-form .input-hold .input_:not(:-ms-input-placeholder).input_:not(:focus) ~ ._label {
  top: -0.6rem;
  font-size: 0.8rem;
  left: 0.6rem;
  background-color: #ffffff;
}
body .add-form .input-hold .input_:focus ~ ._label,
body .add-form .input-hold .input_:not(:placeholder-shown).input_:not(:focus) ~ ._label {
  top: -0.6rem;
  font-size: 0.8rem;
  left: 0.6rem;
  background-color: #ffffff;
}
@media (max-width: 720px) {
  body .add-form .input-hold .input_:not(:-moz-placeholder-shown).input_:not(:focus) ~ ._label {
    font-size: 14px;
  }
  body .add-form .input-hold .input_:not(:-ms-input-placeholder).input_:not(:focus) ~ ._label {
    font-size: 14px;
  }
  body .add-form .input-hold .input_:focus ~ ._label,
body .add-form .input-hold .input_:not(:placeholder-shown).input_:not(:focus) ~ ._label {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  body .add-form .input-hold .input_:not(:-moz-placeholder-shown).input_:not(:focus) ~ ._label {
    font-size: 12px;
  }
  body .add-form .input-hold .input_:not(:-ms-input-placeholder).input_:not(:focus) ~ ._label {
    font-size: 12px;
  }
  body .add-form .input-hold .input_:focus ~ ._label,
body .add-form .input-hold .input_:not(:placeholder-shown).input_:not(:focus) ~ ._label {
    font-size: 12px;
  }
}
@media (max-width: 370px) {
  body .add-form .input-hold .input_:not(:-moz-placeholder-shown).input_:not(:focus) ~ ._label {
    font-size: 10px;
  }
  body .add-form .input-hold .input_:not(:-ms-input-placeholder).input_:not(:focus) ~ ._label {
    font-size: 10px;
  }
  body .add-form .input-hold .input_:focus ~ ._label,
body .add-form .input-hold .input_:not(:placeholder-shown).input_:not(:focus) ~ ._label {
    font-size: 10px;
  }
}
body .add-form .input-hold .search {
  position: absolute;
  width: 20px;
  height: auto;
  top: 0.7rem;
  right: 0.7rem;
  cursor: pointer;
  background-color: #ffffff;
}
@media (max-width: 480px) {
  body .add-form .input-hold .search {
    width: 15px;
  }
}
@media (max-width: 370px) {
  body .add-form .input-hold .search {
    width: 12px;
  }
}
body .add-form .show-pw {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
body .add-form .show-pw .sign-up {
  color: #00AAFF;
  position: absolute;
  text-decoration: none;
  right: 0;
  text-align: center;
}
body .add-form .show-pw .sign-up:hover {
  color: #ff6c2c;
}
body main h1 {
  text-align: center;
  color: #00AAFF;
}
@media (max-width: 720px) {
  body main h1 {
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  body main h1 {
    font-size: 20px;
  }
}
@media (max-width: 370px) {
  body main h1 {
    font-size: 18px;
  }
}
body section {
  width: 90%;
  display: flex;
  height: 450px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 25px;
  margin: auto;
  vertical-align: middle;
  background-color: #ff6c2c;
  border-radius: 20px;
  border-radius: rgb(182, 182, 182);
  border-width: 1px;
}
@media (max-width: 720px) {
  body section {
    height: 350px;
    padding: 20px;
  }
}
@media (max-width: 480px) {
  body section {
    height: 275px;
    padding: 10px;
  }
}
@media (max-width: 370px) {
  body section {
    height: 200px;
    padding: 5px;
  }
}
body section div {
  width: 50%;
  text-align: center;
  vertical-align: middle;
  display: flex-block;
}
body section div h2 {
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (max-width: 720px) {
  body section div h2 {
    font-size: 20px;
  }
}
@media (max-width: 520px) {
  body section div h2 {
    font-size: 16px;
  }
}
@media (max-width: 410px) {
  body section div h2 {
    font-size: 12px;
  }
}
body section div h3 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}
@media (max-width: 720px) {
  body section div h3 {
    font-size: 18px;
  }
}
@media (max-width: 520px) {
  body section div h3 {
    font-size: 14px;
  }
}
@media (max-width: 410px) {
  body section div h3 {
    font-size: 10px;
  }
}
body section div a {
  text-decoration: none;
}
body section div a .btn-signup {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #00AAFF;
  border-radius: 8px;
  border: #00AAFF;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  padding: 16px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
@media (max-width: 720px) {
  body section div a .btn-signup {
    font-size: 16px;
    padding: 12px;
  }
}
@media (max-width: 520px) {
  body section div a .btn-signup {
    font-size: 12px;
    padding: 8px;
  }
}
@media (max-width: 410px) {
  body section div a .btn-signup {
    font-size: 8px;
    padding: 4px;
  }
}
body section div img {
  width: 270px;
}
@media (max-width: 720px) {
  body section div img {
    width: 200px;
  }
}
@media (max-width: 480px) {
  body section div img {
    width: 150px;
  }
}
@media (max-width: 370px) {
  body section div img {
    width: 100px;
  }
}
body section .links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body section .links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
body section .links .link:hover {
  transform: scale(1.2);
}
body section .links h2 {
  text-align: center;
}
@media (max-width: 720px) {
  body section .links h2 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  body section .links h2 {
    font-size: 14px;
  }
}
@media (max-width: 370px) {
  body section .links h2 {
    font-size: 10px;
  }
}
body .load {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body .load img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 720px) {
  body .load img {
    width: 150px;
  }
}
@media (max-width: 520px) {
  body .load img {
    width: 120px;
  }
}
@media (max-width: 410px) {
  body .load img {
    width: 100px;
  }
}

.iconNav {
  display: flex;
  align-items: center;
  height: auto !important;
  justify-content: space-between !important;
  text-align: center;
  background-color: #ffffff;
}
.iconNav .icon-hold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 150ms ease-in;
}
.iconNav .icon-hold:hover {
  transform: scale(1.2);
}
.iconNav .icon-hold img {
  border-color: #ff6c2c;
  border: 2px;
  width: 140px;
  height: 140px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 750px) {
  .iconNav .icon-hold img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 600px) {
  .iconNav .icon-hold img {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 520px) {
  .iconNav .icon-hold img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 370px) {
  .iconNav .icon-hold img {
    width: 40px;
    height: 40px;
  }
}
.iconNav .icon-hold h2 {
  text-align: center;
  color: #00AAFF;
  font-size: 26px;
}
@media (max-width: 750px) {
  .iconNav .icon-hold h2 {
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  .iconNav .icon-hold h2 {
    font-size: 18px;
  }
}
@media (max-width: 520px) {
  .iconNav .icon-hold h2 {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .iconNav .icon-hold h2 {
    font-size: 10px;
  }
}

.profile {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  background-color: rgb(248, 248, 248);
  border-radius: 10PX;
  border: none;
  padding: 25px;
  width: 350px;
  box-shadow: #f3f3f3;
}
@media (max-width: 720px) {
  .profile {
    padding: 20px;
    width: 300px;
  }
}
@media (max-width: 480px) {
  .profile {
    padding: 15px;
    width: 250px;
  }
}
.profile div #greet {
  font-size: 18PX;
  text-align: center;
  margin-top: 20px;
  color: #ff6c2c;
}
@media (max-width: 720px) {
  .profile div #greet {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .profile div #greet {
    font-size: 14px;
  }
}
@media (max-width: 370px) {
  .profile div #greet {
    font-size: 12px;
  }
}
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 720px) {
  .profile img {
    height: 75px;
    width: 75x;
  }
}
@media (max-width: 360px) {
  .profile img {
    height: 50px;
    height: 50px;
  }
}
.profile .btn-logout {
  background-color: #ff6c2c;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}
.profile .btn-logout:hover {
  background-color: #ffffff;
  color: #ff6c2c;
  border: #ff6c2c;
}
@media (max-width: 720px) {
  .profile #save-btn, .profile .btn-danger, .profile .btn-warning, .profile .btn-logout {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .profile #save-btn, .profile .btn-danger, .profile .btn-warning, .profile .btn-logout {
    font-size: 14px;
  }
}
@media (max-width: 370px) {
  .profile #save-btn, .profile .btn-danger, .profile .btn-warning, .profile .btn-logout {
    font-size: 12px;
  }
}

#tables {
  background-color: #ffffff;
  border-radius: 10px;
}

.columnNames th {
  background-color: #ff6c2c;
  color: #ffffff;
}

.img-rounded {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.form h1 {
  color: #00AAFF;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}
@media (max-width: 480px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00AAFF;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff6c2c;
}/*# sourceMappingURL=index.css.map */