$font-size: 18px;
$font-family: 'Open Sans', sans-serif;
$font-weight: 400;
$line-height: 1.5;
$heading-font-size: 32px;
$color-primary: #ff6c2c;
$color-secondary: #00AAFF;
$color-tritary: #00BAC6;
$boder-color: rgb(182, 182, 182);

/* Define the animation */
@keyframes background-animation {
    0% {
        background-position: 0% 50%;
    }
    
    100% {
        background-position: 200% 50%;
    }
}
  

body {
    line-height: $line-height;
    background-size: auto;

    #nav{

        display: flex;
        justify-content: space-between;
        align-items: center;

        #logo {

            display: flex;
            align-items: center;

            #heart {
                height: 40px;
                width: auto;

                @media (max-width: 720px) {
                    height: 30px; // font size for viewports <= 720px
                }

                @media (max-width: 370px) {
                    height: 25px; // font size for viewports <= 370px
                }
            }

            a {
                font-size: $heading-font-size;
                line-height: $line-height;
                color: $color-primary;

                &:hover {
                    color: $color-secondary;
                    background-color: transparent;
                }

                @media (max-width: 720px) {
                    font-size: 26px; // font size for viewports <= 720px
                }

                @media (max-width: 370px) {
                    font-size: 22px; // font size for viewports <= 370px
                }
            }
        }

        #user-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
            img{
                height: 50px;
                width: auto;

                @media (max-width: 720px) {
                    height: 35px; //for viewports <= 720px
                }

                @media (max-width: 370px) {
                    height: 28px; // font size for viewports <= 370px
                }
            }

            #dropdown {
                overflow: hidden;
                flex: none;
                background-color: #ffffff;

                &::after {
                    color: $color-primary;
                }

                &:hover {
                    background-color: $color-primary;

                    &::after {
                        color: #ffffff;
                    }
                }
            }

            ul {
                left: auto;
                right: 0;

                @media (max-width: 720px) {
                    font-size: 14px; // font size for viewports <= 720px
                }
    
                @media (max-width: 480px) {
                    font-size: 12px; // font size for viewports <= 480px
                }
    
                @media (max-width: 370px) {
                    font-size: 10px; // font size for viewports <= 370px
                }
            }
        }

        .login-hold {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    #meal-log {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 910px) {
            overflow-x: scroll;
        }

        .titles {
            background-color: $color-primary;
            color: #fff;
            text-align: center;
            font-size: 16;

            @media (max-width: 720px) {
                font-size: 14px; // font size for viewports <= 720px
            }

            @media (max-width: 610px) {
                padding-left: 0.4rem;
            }

            @media (max-width: 480px) {
                font-size: 12px; // font size for viewports <= 480px
                padding-left: 0.2rem;
            }

            @media (max-width: 370px) {
                font-size: 10px; // font size for viewports <= 370px
            }
        }

        #total {
            color: #ffffff;
        }

        input[type="date" i], #total, #add {
            border-radius: 5px;
            border: none;

            @media (max-width: 720px) {
                font-size: 14px; // font size for viewports <= 720px
            }

            @media (max-width: 610px) {
                align-self: flex-start;
            }

            @media (max-width: 480px) {
                font-size: 12px; // font size for viewports <= 480px
            }

            @media (max-width: 370px) {
                font-size: 10px; // font size for viewports <= 370px
            }
        }
        #list-titles{
            color: $color-secondary;
        }
        #list-titles, #list {
            align-self: flex-start;
            min-width: 894px;

            @media (max-width: 720px) {
                min-width: 780px;
            }

            @media (max-width: 480px) {
                min-width: 700px;
            }

            @media (max-width: 370px) {
                min-width: 600px;
            }
        }
        

        #list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-radius: 10px;
            background-color: #ffffff;

            .list-group-item {

                @media (max-width: 720px) {
                    font-size: 14px; // font size for viewports <= 720px
                }
    
                @media (max-width: 480px) {
                    font-size: 12px; // font size for viewports <= 480px
                }
    
                @media (max-width: 370px) {
                    font-size: 10px; // font size for viewports <= 370px
                }
            }

            .btn-danger, .btn-warning {
                width: 12.5%;

                &:hover {
                    color: $color-primary;
                }
            }

            .edit-box {
                display: flex;
                flex-wrap: nowrap;

                .list-group-item {

                    input {
                        border: none;
                    }
                }

                #new-edit, #save-btn {
                    margin: auto;
                    text-align: center;
                    width: 12.5%;

                    @media (max-width: 720px) {
                        font-size: 14px; // font size for viewports <= 720px
                    }
        
                    @media (max-width: 520px) {
                        font-size: 12px; // font size for viewports <= 480px
                        padding-left: 0.5rem;
                    }
        
                    @media (max-width: 370px) {
                        font-size: 10px; // font size for viewports <= 370px
                        padding-left: 0.25rem;
                    }
                }

                #save-btn {

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }

        #save-btn, .btn-danger, .btn-warning {
            color: $color-secondary;
            border: none;
            background-color: transparent;
            cursor: pointer;

            @media (max-width: 720px) {
                font-size: 14px; // font size for viewports <= 720px
            }

            @media (max-width: 420px) {
                font-size: 12px; // font size for viewports <= 480px
                padding-left: 0.5rem;
            }

            @media (max-width: 370px) {
                font-size: 10px; // font size for viewports <= 370px
                padding-left: 0.25rem;
            }
        }

    }

    .btn-secondary {
        border: none;
        background-color: #ffffff;
        color: $color-secondary;

        &:hover {
            color: $color-primary;
            background-color: $color-secondary;
            color: #ffffff;
        }

        @media (max-width: 720px) {
            font-size: 14px; // font size for viewports <= 720px
        }

        @media (max-width: 480px) {
            font-size: 12px; // font size for viewports <= 480px
        }

        @media (max-width: 370px) {
            font-size: 10px; // font size for viewports <= 370px
        }
    }

    h2, th, td, b, p, #pw,h4 {
        color: $color-secondary;
    }

    th, td, b, #total, .sign-up, #pw {
        @media (max-width: 720px) {
            font-size: 14px; // font size for viewports <= 720px
        }

        @media (max-width: 480px) {
            font-size: 12px; // font size for viewports <= 480px
        }

        @media (max-width: 370px) {
            font-size: 10px; // font size for viewports <= 370px
        }
    }
   

    .add-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;

        .input-hold{
            position: relative;
            display: flex;
            justify-content: center;

            input { 
                padding: 0.5rem;
                border-color: #6d757d;
                border-style: solid;
                border-radius: 0.5rem;
                text-align: left;
                cursor: text;

                @media (max-width: 720px) {
                    padding: 0.45rem;
                }
                
                @media (max-width: 480px) {
                    padding: 0.35rem;
                }
        
                @media (max-width: 370px) {
                    padding: 0.25rem;
                }

                &:hover {
                    border-color: $color-primary;
                    cursor: text;
                }
            }

            ._label {
                position: absolute;
                color: $color-primary;
                background-color: #ffffff;
                border-radius: 5px;
                padding: 0 0.25rem;
                left: 1rem;
                top: 0.7rem;
                cursor: text;
                transition: top 200ms ease-in,
                    left 200ms ease-in,
                    font-size 200ms ease-in;

                @media (max-width: 720px) {
                    font-size: 14px; // font size for viewports <= 720px
                }
                
                @media (max-width: 480px) {
                    font-size: 12px; // font size for viewports <= 480px
                }
        
                @media (max-width: 370px) {
                    font-size: 10px; // font size for viewports <= 370px
                }
            }

            .input_:focus ~ ._label,
            .input_:not(:placeholder-shown).input_:not(:focus) ~ ._label {
                top: -0.6rem;
                font-size: 0.8rem;
                left: 0.6rem;
                background-color: #ffffff;

                @media (max-width: 720px) {
                    font-size: 14px; // font size for viewports <= 720px
                }
                
                @media (max-width: 480px) {
                    font-size: 12px; // font size for viewports <= 480px
                }
        
                @media (max-width: 370px) {
                    font-size: 10px; // font size for viewports <= 370px
                }
            } 

            .search {
                position: absolute;
                width: 20px;
                height: auto;
                top:0.7rem;
                right: 0.7rem;
                cursor: pointer;
                background-color: #ffffff;

                @media (max-width: 480px) {
                    width: 15px;
                }
        
                @media (max-width: 370px) {
                    width: 12px;
                }
            }
        }

        .show-pw {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;

            .sign-up {
                color: $color-secondary;
                position: absolute;
                text-decoration: none;
                right: 0;
                text-align: center;

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
    main {
        h1{
            text-align: center;
            color: $color-secondary;

            @media (max-width: 720px) {
                font-size: 26px; // font size for viewports <= 720px
            }
    
            @media (max-width: 480px) {
                font-size: 20px; // font size for viewports <= 720px
            }
    
            @media (max-width: 370px) {
                font-size: 18px; // font size for viewports <= 370px
            }
    
        }
    }

        section{
            width: 90%;
            display: flex;
            height: auto;
            justify-content: center;
            align-items:center;
            text-align: center;
            justify-items: center;
            padding: 25px;
            margin: auto;
            vertical-align: middle;
            background-color: $color-primary ;
            border-radius: 20px;
            border-radius: $boder-color;
            border-width: 1px;
                @media (max-width: 720px) {
                    height: 350px; // font size for viewports <= 720px
                }
        
                @media (max-width: 480px) {
                    height: 275px; // font size for viewports <= 720px
                }
        
                @media (max-width: 370px) {
                    height: 200px; // font size for viewports <= 370px            
                }

            div{
                width: 60%;
                text-align: center;
                vertical-align: middle;
                display: flex-block;     
            h2{
                text-align: center;
                color: #ffffff;
                margin-top: 15px;
                margin-bottom: 15px;
                @media (max-width: 720px) {
                    font-size: 24px; // font size for viewports <= 720px
                }
        
                @media (max-width: 480px) {
                    font-size: 18px; // font size for viewports <= 720px
                }
        
                @media (max-width: 370px) {
                    font-size: 16px; // font size for viewports <= 370px
                }
        
            }h3{
                text-align: center;
                color: #ffffff;
                margin-bottom: 15px;
                @media (max-width: 720px) {
                    font-size: 20px; // font size for viewports <= 720px
                }
        
                @media (max-width: 480px) {
                    font-size: 16px; // font size for viewports <= 720px
                }
        
                @media (max-width: 370px) {
                    font-size: 14px; // font size for viewports <= 370px
                }
        
            }
            button{
                appearance: none;
                background-color: $color-secondary;
                border-radius: 8px;
                color: #fff;
                box-shadow: #6d757d 1px;
                box-sizing: border-box;
                font-size: 18px;
                font-weight: 600;
                line-height: 20px;
                padding: 16px 16px;
                position: relative;
                text-align: center;
                text-decoration: none;
                vertical-align: middle;
                @media (max-width: 720px) {
                    font-size: 18px; // font size for viewports <= 720px
                }
        
                @media (max-width: 480px) {
                    font-size: 12px; // font size for viewports <= 720px
                }
        
                @media (max-width: 370px) {
                    font-size: 10px; // font size for viewports <= 370px
                }
                
            }
            .divimg{
                padding: 25px;
                height: 80%;
                @media (max-width: 720px) {
                    height: 50%; // font size for viewports <= 720px
                    width: 50%;
                }
        
                @media (max-width: 480px) {
                    height: 40%; // font size for viewports <= 720px
                    width: 40%;
                }
        
                @media (max-width: 370px) {
                    height: 20%; // font size for viewports <= 370px
                    width: 20%;
                }
            }
        }
        .links {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .link {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 200ms ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
             
            h2 {
                text-align: center;

                @media (max-width: 720px) {
                    font-size: 18px; // font size for viewports <= 720px
                }

                @media (max-width: 480px) {
                    font-size: 14px; // font size for viewports <= 480px
                }

                @media (max-width: 370px) {
                    font-size: 10px; // font size for viewports <= 370px
                }
            }
        }
    }

    .load {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        img {
            width: 200px;
            height: auto;
            border-radius: 10px;

            @media (max-width: 720px) {
                width: 150px; //for viewports <= 720px
            }
    
            @media (max-width: 360px) {
                width: 100px; // font size for viewports <= 370px
            }
        }
    }
}
.iconNav{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    background-color: #ffffff;
    margin: 25px;
    @media (max-width: 720px) {
        margin: 20px; //for viewports <= 720px

    }
    @media (max-width: 360px) {
        margin: 15px; // font size for viewports <= 370px
    }
   div{
        display: inline-flex;
        align-items: center;
        text-align: center;
        margin: 10px;
        img{
            padding: 10px;
            display: inline;
            border-color: #ff6c2c;
            border: 2px;
            width: 150px;
            height: 150px;
            @media (max-width: 720px) {
                width: 100px; //for viewports <= 720px
                height: 100px;
            }
    
            @media (max-width: 360px) {
                width: 60px; // font size for viewports <= 370px
                height: 60px;
            }
        }
        h2{
            text-align: center;
            color: $color-secondary;
            font-size: 26px;
            @media (max-width: 720px) {
               font-size: 22px; //for viewports <= 720px
               
            }
    
            @media (max-width: 360px) {
                font-size: 18px; // font size for viewports <= 370px
        
            }
            
        };
   }
}
.profile {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin: auto;
        background-color: rgb(236, 236, 236);
        border-radius: 8PX;
        border: none;
        padding: 25px;
        width: 350px;
        @media (max-width: 720px) {
            margin: 10px 0px; 
            padding: 20px;
            width:350px;
        }
        @media (max-width: 480px){
            margin: 10px 0px; 
            padding: 15px;
            width:300px;
        }
        @media (max-width: 370px){
            margin: 10px 0px; 
            padding: 15px;
            width:300px;
        }
        div{
        #greet {
                font-size: 18PX;
                text-align: center;
                margin-top: 20px;
                color: $color-primary;
        
                @media (max-width: 720px) {
                    font-size: 16px; // font size for viewports <= 720px
                }
        
                @media (max-width: 480px) {
                    font-size: 14px; // font size for viewports <= 480px
                }
        
                @media (max-width: 370px) {
                    font-size: 12px; // font size for viewports <= 370px
                }
            }
        }
    img {
        width: 100px;
        height: 100px;
        border-radius: 50px;

        @media (max-width: 720px) {
            height: 75px; //for viewports <= 720px
            width: 75x;
            border-radius: 37px;
        }

        @media (max-width: 360px) {
            height: 50px; // for viewports <= 370px
            height: 50px;
            border-radius: 25px;

        }
    }     

    #save-btn, .btn-danger, .btn-warning, .btn-logout {
        @media (max-width: 720px) {
            font-size: 16px; // font size for viewports <= 720px
        }

        @media (max-width: 480px) {
            font-size: 14px; // font size for viewports <= 480px
        }

        @media (max-width: 370px) {
            font-size: 12px; // font size for viewports <= 370px
        }
    }
}
.btn-logout{
    background-color: #ff6c2c;
    color: #ffffff;
    border:none;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    a{
        a:hover{
            background-color: #ffffff;
            color: $color-primary;
            border:#ff6c2c
        }
    }
}
#tables {
    background-color: #ffffff;
    border-radius: 10px;
}
.columnNames{
    th{
        background-color: #ff6c2c;
        color: #ffffff;
    }
}
.img-rounded{
    width: 65px;
        height: 65px;
    border-radius: 50%;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
    height: 10px;

    @media (max-width: 480px) {
        width: 10px;
    }
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-secondary; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-primary; 
}